/* import */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap");

/* variables */
:root {
  /* colors */
  --color-main: #1a1a1a;
  --color-break: #0a0a0a;
  --color-secondary: #d43f52;
  --color-accent: #454ade;
  --color-text: #f6f7eb;
  --color-text-secondary: #cecece;
  /* typefaces */
  --text-heading: "Rubik", sans-serif;
  --text-copy: "Lato", sans-serif;
  /* layout spacing */
  --margin: 1rem;
  --modifier: calc(40rem - 100%);
}

/* screen reader-only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* vintage IE */
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
}

/* general */
html {
  background-color: var(--color-main);
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
  color: var(--color-text);
  letter-spacing: 0.75%;
}

p,
li {
  font-family: "Lato", sans-serif;
  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 2.25rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

/* layout */
.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--margin) * -1) 0.5rem;
  padding: 1rem;
  overflow-x: hidden;
}

/* header */
header {
  overflow: hidden;
  background: url("../images/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  padding: 8%;
  text-align: center;
}

.header h1 {
  display: inline-block;
  color: var(--color-secondary);
  padding: 1rem 3rem;
  border: 2px solid var(--color-secondary);
  letter-spacing: 0.25rem;
}

.header p {
  color: var(--color-text-secondary);
  letter-spacing: 0.025rem;
  font-size: 1.25rem;
}

.header .faux-heading {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 700;
}

.move-focus {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  color: var(--color-text);
  border: 2px solid var(--color-text);
  padding: 1rem 3rem;
  margin: 3rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

.move-focus:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  transition: 152ms;
}

/* process */
.process {
  min-height: 50vh;
  background-color: var(--color-main);
  padding: 3rem 6vw;
}

.process .section-wrapper > * {
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
  margin: var(--margin);
  padding: 0.5rem;
}

.process p {
  color: var(--color-text-secondary);
}

.process #understand h3::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f109";
  color: var(--color-secondary);
  padding: 1rem 1rem 1rem 0;
}

.process #ideate h3::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f53f";
  color: var(--color-secondary);
  padding: 1rem 1rem 1rem 0;
}

.process #test h3::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f121";
  color: var(--color-secondary);
  padding: 1rem 1rem 1rem 0;
}

/* TODO */
/* do */

.do {
  background-color: var(--color-break);
  min-height: 50vh;
  padding: 3rem 6vw;
}

.do .section-wrapper > * {
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
  margin: var(--margin);
  padding: 0.5rem;
}

.do h3 {
  color: var(--color-secondary);
}

.do ul li {
  list-style-type: none;
  padding: 1rem 0;
}

.do ul .break {
  content: "";
  border: 2px solid var(--color-secondary);
  background-color: var(--color-secondary);
  width: 100%;
  height: 1px;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}

/* clients  */
.clients {
  min-height: 50vh;
  padding: 3rem 6vw
} 

.image-list-wrapper ul {
  padding: 1rem;
  margin: 1rem; 
  list-style-type: none;
  text-align: center;
}

.image-list-wrapper li {
  display: inline-block; 
  padding: 1rem; 
}

.clients img {
  min-width: 16vw;
}

/* contact */
.contact {
  background-color: var(--color-break);
  min-height: 50vh;
  padding: 3rem 6vw;
}

.contact .section-wrapper > * {
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
  margin: var(--margin);
  padding: 0.5rem;
}

.contact-details ul { 
  align-self: center; 
  justify-self: center; 
  list-style-type: none; 
}

.contact-details li { 
  padding: .5rem 0; 
}

.contact-details li a { 
  color: var(--color-text); 
  text-decoration: none; 
 }

 .contact-details a:hover { 
   color: var(--color-text-secondary);
   text-decoration: underline; 
 }

 /* contact form  */
 .contact-form label {
  color: var(--color-text);
  font-family: var(--text-copy);
  margin-top: 4rem; 
}

.contact-form input {
  min-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  font-family: var(--text-copy);
  font-size: 1rem; 
}

.contact-form textarea {
  resize: none;
  min-width: 100%;
  min-height: 8rem;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  font-family: var(--text-copy);
  font-size: 1rem; 
}

.contact-form button {
  border-radius: 0.5rem;
  min-width: 24%;
  padding: 0.75rem 1.25rem;
  border: 0;
  font-family: var(--text-heading);
  background-color: 
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-text);
  border: 2px solid var(--color-text);
  min-width: 32%; 
  cursor: pointer; 
}

.contact-form button:hover { 
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  transition: 152ms;
  cursor: pointer; 
 }

 /* footer  */
 footer {
  text-align: center;
  background-color: var(--color-break);
  padding: 2.5rem;
}

footer p {  
  color: var(--color-text-secondary); 
}
