/* import */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap");
/* 
  font-family: 'Rubik', sans-serif;
    font-family: 'Lato', sans-serif;
*/

/* END import */

/* variables */
:root {
  /* colors */
  --color-main: #1a1a1a;
  --color-break: #0a0a0a;
  --color-secondary: #d43f52;
  --color-accent: #454ade;
  --color-text: #f6f7eb;
  --color-text-secondary: #999999;
  /* typefaces */
  --text-heading: "Rubik", sans-serif;
  --text-copy: "Lato", sans-serif;
}

/* * { 
  overflow-x: hidden; 
 } */
/* END variables */

/* general */
html {
  background-color: var(--color-main);
}

h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
  color: var(--color-text);
  letter-spacing: 0.75%;
}

p {
  font-family: "Lato", sans-serif;
  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.5; 
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* .wrapper {
  flex-flow: row wrap; 
  justify-content: center;
} */

body {
  margin: 0;
  padding: 0;
}
/* END general */

/* header */
.header-background {
  overflow: hidden;
  background: url("../images/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

.header-text {
  padding: 8%;
}


.header-text h1 {
  display: inline-block;
  color: var(--color-secondary);
  padding: 1rem 3rem;
  border: 2px solid var(--color-secondary);
  letter-spacing: 0.25rem;
}

.header-text h3,
.header-text h2 {
  color: var(--color-text);
}

.header-text p {
  color: var(--color-text-secondary);
  letter-spacing: 0.025rem;
  font-size: 1.25rem; 

}

.header-text button,
.header-text button {
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-text);
  border: 2px solid var(--color-text);
  padding: 1rem 3rem;
  margin: 3rem;
  border-radius: 0.25rem;
  cursor: pointer; 
}

.header-text button:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  transition: 152ms;
}
/* END header */

/* process */
.process {
  min-height: 50vh;
  background-color: var(--color-main);
  padding: 3rem 6vw;
  min-height: 50vh;
}

.process h2 {
  text-align: center;
}

.process-wrapper {
  display: flex;
  flex-wrap: wrap;
  --margin: 1rem;
  --modifier: calc(40rem - 100%);
  margin: calc(var(--margin) * -1) 0.5rem;
  padding: 1rem;
  overflow-x: hidden;
}

.process-wrapper > * {
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
  margin: var(--margin);
  padding: 0.5rem;
}

.process-wrapper p {
  color: var(--color-text-secondary);
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.process-wrapper #understand h3::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f109";
  color: var(--color-secondary);
  padding: 1rem 1rem 1rem 0;
}

.process-wrapper #ideate h3::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f53f";
  color: var(--color-secondary);
  padding: 1rem 1rem 1rem 0;
}

.process-wrapper #test h3::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f121";
  color: var(--color-secondary);
  padding: 1rem 1rem 1rem 0;
}

/* END process */

/* do */
.do {
  background-color: var(--color-break);
  padding: 3rem 6vw;
  min-height: 50vh;
}

.do h2 {
  text-align: center;
}

.do-wrapper {
  display: flex;
  flex-wrap: wrap;
  --margin: 1rem;
  --modifier: calc(40rem - 100%);
  margin: calc(var(--margin) * -1) 0.5rem;
  padding: 1rem;
  overflow-x: hidden;
}

.do-wrapper > * {
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
  margin: var(--margin);
  padding: 0.75rem;
}

.do-wrapper h3 {
  color: var(--color-secondary);
}

.do .do-services .break {
  content: "";
  border: 2px solid var(--color-secondary);
  background-color: var(--color-secondary);
  width: 100%;
  height: 1px;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}
/* END do */

/* clients */
.client {
  padding: 3rem 6vw;
  min-height: 50vh;
}

.client h2 {
  text-align: center;
}

.client-wrapper {
  display: flex;
  flex-wrap: wrap;
  --margin: 1rem;
  --modifier: calc(40rem - 100%);
  margin: calc(var(--margin) * -1) 0.5rem;
  padding: 1rem;
  overflow-x: hidden;
}

.client-wrapper > * {
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
  margin: var(--margin);
  /* background-color: var(--color-accent);  */
  padding: 0.75rem;
}

.client-item {
  display: flex;
  justify-content: center;
}

.client-wrapper img {
  max-width: 75%;
  justify-items: center;
}

/* END clients */

/* contact */
.contact {
  padding: 3rem 6vw;
  min-height: 50vh;
  background-color: var(--color-break);
}

.contact h2 {
  text-align: center;
}

.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  --margin: 1rem;
  --modifier: calc(40rem - 100%);
  margin: calc(var(--margin) * -1) 0.5rem;
  padding: 1rem;
  overflow-x: hidden;
  justify-content: center; 
}

.contact-wrapper > * {
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
  margin: var(--margin);
  /* background-color: var(--color-accent);  */
  padding: 2rem;
}

.contact-details { 
  align-self: center; 
  justify-self: center; 
  padding-left: 8%; 
}

.contact-wrapper p { 
  font-family: var(--text-copy);
  font-size: 1.125rem; 
}

.contact-form label {
  color: var(--color-text);
  font-family: var(--text-copy);
  margin-top: 4rem; 
}

.contact-form input {
  min-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  font-family: var(--text-copy);
  font-size: 1rem; 
}

.contact-form textarea {
  resize: none;
  min-width: 100%;
  min-height: 8rem;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  font-family: var(--text-copy);
  font-size: 1rem; 
}



.contact-form button {
  border-radius: 0.5rem;
  min-width: 24%;
  padding: 0.75rem 1.25rem;
  border: 0;
  font-family: var(--text-heading);
  background-color: 
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-text);
  border: 2px solid var(--color-text);
  min-width: 32%; 
  cursor: pointer; 
}

.contact-form button:hover { 
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  transition: 152ms;
  cursor: pointer; 
 }
/* END contact */

/* footer */
footer {
  text-align: center;
  background-color: var(--color-break);
  padding: 2.5rem;
}

footer p {  
  color: var(--color-text-secondary); 
}

footer button {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-text);
  border: 2px solid var(--color-text);
  padding: 1rem 3rem;
  margin: 3rem;
  border-radius: 0.25rem;
  text-decoration: none; 
}

footer button:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  transition: 152ms;
  cursor: pointer; 
}

p a { 
  color: var(--color-text); 
  text-decoration: none; 
 }

 p a:hover { 
  color: var(--color-text-secondary); 
  text-decoration: underline;
  }
/* END footer */
